# Ignore benchmarks directory (tracked files will be untracked separately)
benchmarks/

common/**/*.o
common/**/*.d

hotspot_tool/
sift/
tools/*.pyc

config/buildconf.makefile
config/buildconf.sh
config/sniper.py
decoder_lib/*.d
decoder_lib/*.a
decoder_lib/*.o

frontend/pin-frontend/bbv_count.o
frontend/pin-frontend/obj-intel64/globals.o
frontend/pin-frontend/obj-intel64/pin_frontend
frontend/pin-frontend/obj-intel64/pin_frontend.o
lib/libcarbon_sim.a
lib/sniper
scripts/reliability.pyc
standalone/exceptions.d
standalone/exceptions.o
standalone/standalone.d
standalone/standalone.o
